/* timeline.component.scss */

.timeline {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  width: 20px;
  margin-left: 50%;

  .timeline-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  .description {
    position: absolute;
    width: max-content;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 4px;
    top: 0;
    left: 25px;

    &.even {
      left: -5px;
      transform: translateX(-100%);
    }

    span {
      font-size: 10px;
    }

    z-index: 9;

    &:hover {
      z-index: 99;
    }
  }
}
