/* Styles for h1 element */
h1 {
  text-align: center;
}

/* Styles for the timeline page container */
.timeline-page-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

/* Styles for the selected video section */
.selected-video {
  text-align: center;
  position: sticky;
  right: 0;
  width: 100%;
  padding-bottom: 20px;

  @media (min-width: 900px) {
    padding: 50px 0;
  }

  /* Styles for paragraphs, headings, and images inside selected video */
  p, h2, h3, img {
    margin: auto;
    text-align: center;
    padding: 10px;
  }
}

/* Styles for desktop-only elements */
.desktop-only {
  display: none;

  @media (min-width: 900px) {
    display: block;
  }
}

/* Styles for mobile-only elements */
.mobile-only {
  display: none;

  @media (max-width: 900px) {
    display: block;

    /* Styles for iframes inside mobile-only */
    iframe {
      max-width: 100%;
    }
  }
}

/* Styles for the timeline container */
.timeline-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    min-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;

    div {
      overflow: visible;
    }
  }
}

/* Styles for styled scrollbars */
.styled-scrollbars {
  scrollbar-color: #999 #333;
}

.styled-scrollbars::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.styled-scrollbars::-webkit-scrollbar-thumb {
  background: #999;
}

.styled-scrollbars::-webkit-scrollbar-track {
  background: #333;
}

/* Styles for legend */
.legend {
  color: #aaa;
  text-align: center;
}
