<div class="container">
    <h1>Nardwuar's Interview Timeline</h1>
</div>
<div class="container mobile-only">
  <div class="selected-video" [ngClass]="{'sticky': isSticky}">
      Select the interview on the timeline to watch the video!
      <!-- Display selected interview details here -->
      <h2>{{ selectedInterview?.artist }}</h2>
      <p>{{ selectedInterview?.date }}</p>
  
      <div *ngIf="selectedInterview?.videoUrl" class="video-container">
        <app-youtube-embed [youtubeVideoId]="selectedInterview.videoUrl" [videowidth]="400"></app-youtube-embed>
      </div>
  
  </div>

</div>
<div class="container timeline-page-container">
    <div class="timeline-container">
      <div class="styled-scrollbars">
        <app-interview [interviews]="interviews" (interviewSelected)="onInterviewSelected($event)"></app-interview>
      </div>
    </div>
    <div class="selected-video desktop-only" [ngClass]="{'sticky': isSticky}">
        Select the interview on the timeline to watch the video!
        <!-- Display selected interview details here -->
        <h2>{{ selectedInterview?.artist }}</h2>
        <p>{{ selectedInterview?.date }}</p>

        <div *ngIf="selectedInterview?.videoUrl" class="video-container">
          <app-youtube-embed [youtubeVideoId]="selectedInterview.videoUrl"></app-youtube-embed>
        </div>

    </div>

  </div>
  