

<nav class="sticky" [className]="isSticky?'sticky':''" id="navbar">
    <div class='container'>

      <a class='navbar-brand' routerLink='/welcome'>
        <img src="assets/bg_home_banner.jpg" alt="Nardwuar the human serviette" [className]="isSticky?'hidden':''">
        <img src="assets/logo-h.jpg" alt="Nardwuar the human serviette" [className]="isSticky?'':'hidden'">
      </a>

      <div class="mobile-only">
          <button class="mobile-menu-icon" (click)="showhideMenu()" [class.open]="isMenuVisible">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 menu-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>   
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 close-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
                
          </button>   
          
      </div>

      <ul class='nav' [class.open]="isMenuVisible">
        <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Welcome</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/timeline'>Timeline</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/fun-facts'>Random Facts</a></li>
      </ul>
      
      <div class="mobile-menu-bg" [class.active]="isMenuVisible" (click)="showhideMenu()"></div>
    
    </div>
  </nav>