

  <nav>
  <div class='container'>
    <a class='navbar-brand'><img src="assets/bg_home_banner.jpg" alt="Nardwuar the human serviette"></a>
    <ul class='nav'>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Welcome</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/timeline'>Timeline</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class='container'>
    <div>
      {{ currentYear }} designed by Lorena Marchesin

    </div>
    <div>
      <ul>
        <li>
          <a href="https://nardwuar.com/">Nardwuar site</a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Nardwuar">Nardwuar wiki page</a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/NardwuarServiette">Youtube</a>
        </li>
      </ul>

    </div>
  </div>
</footer>