<div class="container">
    <h3>Who is Nardwuar?</h3>
    <p>
        Nardwuar is a bizare looking Canedian journalist that has interview many musicians.<br/>
        His interviews always have some deep cuts and he often give gifts that surprise the interviewer.
    </p>
    <h3>Interview style</h3>
    <p>
        Noted for his excitable persona, a typical Nardwuar interview will begin with 
        "Who are you?", followed by "From?" if the subject does not volunteer their affiliations. <br/><br/>
        Each interview ends with "Keep on rockin' in the free world", and the "doot doola doot doo ..." 
        of "Shave and a Haircut", to which the interviewee is expected to reply with the final 
        "doot doo!" before Nardwuar freezes with a wide smile until the camera cuts off. <br/><br/>        
        Interviews also often end with Nardwuar asking the interviewee 
        "Why should people care about [interviewee's name]?". 
    </p>
    <h3>Origin of the name</h3>
    <p>
    When asked to explain his name, Nardwuar has said it is "a dumb, stupid name like Sting or Sinbad"; 
    that "Human" came from the song "Human Fly" by the Cramps; and that "Serviette" came from the fact that "in the U.S.A. 
    they don't have serviettes, they have napkins".

</p>

<h3>Wanna know more?</h3>
<a href="https://en.wikipedia.org/wiki/Nardwuar">Wiki page</a>
<br/><br/><br/>
</div>